@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:wght@200;400;500;600;700&display=swap');

root {
    --black: #100409;
    --grey: #F6F6F6;

    --gunMetal: #37515F;   
    --gunMetal_light: #52798E;
    --error: #FF4D4D;
    --hyyp_primary: #E4959E;
    --success: #59D96C;
    
    --paragraph: 0.9rem;
}
* {
    transition: all 0.3s ease-in-out;
}
html, body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

button {
    cursor: pointer;
    border-radius: 5px;
}
button:active {
    transform: scale(0.95);
}
p {
    font-family: 'Poppins', sans-serif;
}
a, a:link, a:hover, a:focus, a:active, a:visited {
    color: var(--black);
    text-decoration: none;
    font-size: 0.8rem;
    cursor: pointer;
}

.disabled {
    cursor: not-allowed;
    user-select: none;
    opacity: 0.67;
}   

.noSelect {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.locked {
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0, 0.33);
}
.toggle {
    position: relative;
    width: 200px;
    z-index: 999;   
}
.centered {
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.d-flex {
    display: flex;
    width: 100%;
}
.row  {
    flex-direction: row;
}
.column {
    flex-direction: column;
}

/* Edits to Vuetify */
.hyyp-input-sm {
    display: flex;
    max-width: 210px;
    align-items: center;
}
input {
    position: relative;
    border: 1px solid #666666;
    border-radius: 5px;
    height: max-content;
    padding: 5px 10px;
    padding-top: 20px;
    min-width: 100%;
}
.v-list {
    width: 120px;
    padding: 5 px 0 !important;
}
.v-list-item--density-default.v-list-item--one-line {
    min-height: 1rem !important;
    
}
.v-list-item-title {
    font-size: 0.8rem !important;
}

.ProseMirror {
    padding: 5px 10px;
    border: 3px solid #333;
    border-radius: 0 0 5px 5px;
}