@use "variables.scss" as *;

* {
    transition: $smooth;
}
html, body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: $openSans;
    overflow: hidden;
}
button {
    cursor: pointer;
    border-radius: 5px;
    
}
button:active {
    transform: scale(0.95);
}

h1 {
    min-width: max-content;
    text-align: left;
    font-size: $header;
    font-weight: 900;
    color: $black;
    white-space: nowrap;
    line-height: 1.5rem;
}
h3, h4 {
    font-weight: $medium;
    font-size: $subhead;
}
p {
    font-family: $poppins;
    font-family: 'Poppins', sans-serif;
    color: inherit;    
    font-size: $paragraph;
    line-height: 1.1rem;
    text-align: left;
}

a, a:link, a:hover, a:focus, a:active, a:visited {
    color: $black;
    text-decoration: none;
    font-size: $paragraph;
    cursor: pointer;
}
input {
    font-size: $paragraph;
}
small {
    white-space: nowrap;
}
hr {
    width: calc(100% - 40px);
    margin: 0 auto 20px;
    border: none;
    border-bottom: .5px solid $grey_90;
    opacity: 0.5;
}
.hyyp-input {
    width: 100%;
    input {
        position: relative;
        border: 1px solid $grey_60;
        border-radius: 5px;
        height: max-content;
        min-height:  2rem;
        min-width: 200px;
        width: 100%;
        padding: 5px 10px;
        padding-top: 10px;
        background-color: white;
        font-size: $paragraph;
    }
    
    .v-field--variant-filled .v-field__overlay {
        background: none;
    }
    
    label {
        position: relative;
        z-index: 1;
        top: 10px;
        left: 8px;
        width: max-content;
        padding: 1px 5px;
        background: white;
        font-size: $label;
        text-align: left;
        text-transform: capitalize;
        color: $grey_40;
        display: flex;
        justify-content: start;
        text-align: left;
    }
} 
// Layout
.disabled {
    cursor: not-allowed;
    user-select: none;
    opacity: 0.67;
}   
.overlay {
    position: absolute;
    left:0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba($black, 0.5);
}
.noSelect {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.locked {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9998;
    background: rgba($black, 0.5);
    overflow: hidden;
}
.toggle {
    position: relative;
    width: 200px;
    z-index: 999;   
}
.centered {
    position: fixed;
    height: max-content;
    width: max-content;
    display: flex;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    overflow: hidden;
    z-index: 9999;
}
.d-flex {
    display: flex;
    width: 100%;
}
.d-flex.center {
    flex-direction: column;
    align-items: center;
}
.row  {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
    flex-direction: row;
    gap: 10px;
}
.column {
    max-height: max-content;
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.justify-left {
    display: flex;
    justify-content: flex-start;
}
.justify-right, .justift-end {
    display: flex;
    justify-content: flex-end;
}
.page-header {
    max-width: max-content !important;
    margin-right: 20px;
    h2{ white-space: nowrap;}
}
.overflow-hidden {
    height: 100%;
    position:absolute;
    overflow: hidden;
}

// Incidentals
div.spacer {
    height: 60px;
}
.bordered {
    border: 1px solid salmon;
}
.controlled-width {
    max-width: 1440px;
}
.sticky {
    position: sticky;
    top: 10px;
    left: 0px;
    width: 100%; // max-width: 1440px;
    height: 75px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    background: white;
    z-index: 2;
    border-bottom: 1px solid rgba($grey_80, 0.33);
}
.flipped {
    transition: $smooth;
    transform: rotate(180deg);
}
/*App Level Wrapper */
.v-main {
    overflow: hidden;
}
.hyyp-wrapper {
    display: flex;
    position: fixed;
    top: calc($headRoom);
    left: 0px;
    width: 100%;
    height: calc(100% - $headRoom);
    overflow-y: auto;
}
div.logo {
    display: flex;
    margin-right: 20px;
}

div.logo>img {
    height: 40px;
}

/* Buttons */
button.close-btn {
    position: relative; 
    svg{ 
        height: 20px;
        width: 20px;
        margin: 0;
        padding: 0;
        background: none;
        position: absolute;
        left: calc(100% - 30px);
    }
}

button.close-btn:hover > svg {
    opacity: 0.5;
}

button.full-width {
    width: 100%;
    height: 48px;
    background: $gunMetal;
    color: white;
    font-weight: $medium;
    font-size: $paragraph;
}
button.full-width:hover {
    background:  $gunMetal_20;
}
/* Empty State */
.empty-state {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    max-width: $formWidth;
    margin: 0 auto;
    border: .5px solid $grey_90;
    border-radius: $border-radius;
    background: $offWhite;
    padding: 20px;
    p {
        font-size: $paragraph;
        font-weight: $medium;
        color: $grey_80;
    }
    a {
        font-size: $paragraph;
        font-weight: $medium;
        color: $grey_80;
        text-decoration: underline;
    }
}
.loading {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    p {
        font-size: $paragraph;
    }
}
/* Edits to Vuetify */
.v-textarea .v-field__input {
    -webkit-mask-image: none !important;
    mask-image: none !important;
}
.v-textarea {
    font-size: $paragraph;
    margin: 4px 0 20px 0;
    border-radius: $border-radius;
    ::placeholder {
        font-size: $paragraph;
    }
}
.v-field--appended {
    min-width: calc(100%);
    padding: 0 !important;
}
.v-field__input {
    border: 1px solid $grey_40;
    background: white;
    padding: 6px 12px !important;
    margin: 0;
    border-radius: 2.5px;
    font-size: $paragraph;
    min-height: 1rem !important;
    min-width: 100% ;
    &:disabled {
        opacity: 0.5;
    }
    &:placeholder {
        color: $grey_60;
    }
}
.v-field--appended > .v-field__append-inner {
    position: fixed;
    right: 10px;
    top: 6px;
    i {
        opacity: 0.33;
    }
}
.v-list {
    width: 120px;
    padding: 5 px 0 !important;
}
.v-list-item--density-default.v-list-item--one-line {
    min-height: 1rem !important;
    
}
.v-list-item-title {
    font-size: 0.8rem !important;
}
.v-btn.v-btn--density-default {
    min-width: max-content;
}
.v-input__control {
    min-width: 100%;
}
// Edits to V-Checkbox
.v-selection-control {
    max-width: max-content;
    .v-label {
        position: relative;
        top: 2px;
        font-size: $small !important;
        max-width: max-content;
        margin-right: 10px;
    }
    .mdi:before, .mdi-set {
        font-size: $paragraph;
    }
    
}
.v-input__control {
    max-width: max-content;
}

.v-input__details{
    display: none !important;
} 
.ProseMirror {
    padding: 10px;
    border: 3px solid $black;
    border-radius: 0 0 5px 5px;
    max-width: 1000px;
    min-height: 200px;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1rem !important;
  li > ol {
    list-style-type: lower-alpha;
    li > ol {
        list-style-type: lower-roman;
    }
  }
}

.ProseMirror blockquote {
    padding-left: 12px;
    border-left: 2px solid rgba($black, 0.1);
}
