/*
=================
Fonte
=================
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;400;500;600;700&display=swap");

$openSans: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;
/*
=================
Colors
=================
*/

$offWhite_hover: rgb(233.125, 233.125, 239.375);

$grey: #f6f6f6;
$grey_20: #CCCCCC;
$grey_40: #AAAAAA;
$grey_60: #999999;
$grey_80: #666666;
$black: #100409;

$gunMetal: #37515f;
$gunMetal_light: #52798e;
$error: #ff4d4d;
$primary: #e4959e;
$success: #59d96c;
$success_darken:  #2AB73F;
/*
=================
Design Units
=================
*/
$label: 0.67rem;
$small: 0.75rem;
$paragraph: 0.9rem;
$subhead: 1.2rem;
$header: 1.75rem;
$pageTitle: 2.5rem;
$light: 400;
$medium: 500;
$heavy: 700;

$border-radius: 5px;

// Map Page Separators
$cardHolder: 25vw;
$mapWidth: calc(100vw - $cardHolder);

// Header Area Height
$headRoom: 50px;
/*
 =================
Animations 
=================
*/
$smooth: ease-in-out all 300ms;

.slideIn {
  animation: slideIn 300ms ease-in-out;
  opacity: 1;
}
.slideOut {
  animation: slideOut 300ms ease-in-out;
  opacity: 0;
  display: none;
}
@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    transform: translateY(0%);
    opacity: 1;
  }

  to {
    transform: translateY(100%);
    opacity: 0;
  }
}






